<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Selected post</title>
    <th:block th:replace="partials/partials.html :: styles"></th:block>
</head>
<body>
    <nav th:replace="partials/partials.html :: navbar"></nav>
    <div class="container">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}"></p>
        <p>Posted by: <span th:text="${post.user.email}"></span></p>
        <br>
        <form th:action="@{/posts/delete/{id}(id = ${post.id})}" th:method="post">
            <button type="submit" class="btn btn-dark">Delete</button>
        </form>
        <a th:href="@{/posts/{id}/edit/(id = ${post.id})}" class="">Edit Post</a>
    </div>
    <th:block th:replace="partials/partials.html :: scripts"></th:block>
</body>
</html>